body{
    font-size: 42px;
    background-color: burlywood;

}

.portfolio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
@media(max-width:767px){
    .portfolio{
        flex-direction: column;
        margin-left: 30px;
    }
    .link{
        margin-bottom: 50px;
    }
}
link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pet-project {
    text-decoration: none;
    margin-right: 100px;
    
    
}
.john {
    text-decoration: none;
   
}